---
---
<div
  class="
    mx-auto mt-6
    prose prose-base
    prose-neutral
    dark:prose-invert

    prose-headings:text-amber-900
    prose-headings:dark:text-amber-600
    prose-h1:text-center

    prose-a:text-blue-600
    prose-p:text-justify
    prose-img:rounded-xl
  "
>
  <slot />
</div>