---
---
<div
  class="mx-auto mt-6 prose prose-lg dark:prose-invert
  prose-h1:font-bold prose-h1:text-xl
  prose-a:text-blue-600 prose-p:text-justify prose-img:rounded-xl
  prose-headings:underline">
  <slot />
</div>