---
import Layout from "../layouts/Layout.astro"
import Container from "../layouts/Container.astro"
import Link from "../layouts/modules/Link.astro"
import { localIsAuthed } from "../libs/store.svelte"
---

<Layout title="Sign In">
  <Container>
    {localIsAuthed ?
      <div>Jason</div> : <div>Young</div>
    }
    <div class="flex h-4/5 items-center justify-center px-4 py-12 sm:px-6 lg:px-8">
      <div class="w-full">
        <div>
          <h2 class="text-center text-2xl font-bold leading-2 tracking-tight text-neutral-900 dark:text-amber-600">Sign In With GitHub</h2>
          <p class="font-bold text-center text-sm leading-6 text-amber-600 dark:text-neutral-300">
            We Only Support GitHub OAuth2.0
          </p>
        </div>
        <div class="p-2 flex flex-row items-center justify-center">
          <Link style="primary" href="http://localhost:16861/auth/login/github?redirect=http://localhost:4321" classname="flex items-center justify-center w-[266px]" size="sm">
            <img src="/logos/github/github-mark-white.svg" alt="GitHub" class="flex w-[1.5rem] m-2 block dark:hidden" />
            <img src="/logos/github/github-mark.svg" alt="GitHub" class="flex w-[1.5rem] m-2 hidden dark:block" />
            <span>Sign In With GitHub</span>
          </Link>
        </div>
        <p class="font-bold text-center text-sm leading-6 text-gray-500">
          Do Not Have Account of GitHub?
        </p>
        <div class="p-2 flex flex-row items-center justify-center">
          <Link style="outline" href="https://github.com/join" size="sm" target="_blank">Please Register A GitHub Account</Link>
        </div>
      </div>
    </div>
  </Container>
</Layout>