---
const linkitems = [
  {
    title: 'Home',
    path: '/',
    isExternal: false,
  },
  {
    title: 'Yangs Cloud',
    path: 'https://yangs.cloud/',
    isExternal: true,
  },
  {
    title: 'Bench Council',
    path: 'https://www.benchcouncil.org/',
    isExternal: true,
  },
  {
    title: 'Jason Young',
    path: 'https://jason-young.me/',
    isExternal: true,
  },
];
---
<footer class="pb-9 pt-9 dark:bg-neutral-800">
  <div class="absolute right-0 size-[188px] translate-x-[-30%] translate-y-[-30%] rounded-full bg-[rgba(170,64,0,0.5)] opacity-50 blur-[80px] block dark:hidden"></div>
  <div class="absolute right-0 size-[188px] translate-x-[-30%] translate-y-[-30%] rounded-full bg-[rgba(245,245,245,0.5)] opacity-50 blur-[80px] hidden dark:block"></div>
  <div class="mx-auto px-3 md:px-6 lg:px-4 xl:px-0">
    <a href="/" aria-label="logo" class="group flex items-center justify-center space-x-2 w-52 block mx-auto">
      <img
        src="/logos/logo-horizontal-transparent.svg"
        alt="logo"
        class="w-52"
      />
      <!-- <span class="text-semibold duration-300 text-gray-400 group-hover:text-gray-900 dark:text-white dark:group-hover:text-gray-100">
        Datasets - Yangs Cloud
      </span> -->
    </a>
    <ul role="list" class="flex flex-wrap items-center justify-center gap-4 py-4 text-amber-700 dark:text-amber-600 sm:gap-8">
      <li role="listitem" class="text-amber-900 dark:text-amber-500 font-semibold">
        Link Exchange:
      </li>
      {
        linkitems.map(
          (item) => (
            <li role="listitem">
              <a href={item.path} class="duration-300 font-normal hover:text-amber-950 dark:hover:text-amber-300" target={item.isExternal ? '_blank' : '_self'}>
                {item.title}
              </a>
            </li>
          )
        )
      }
    </ul>
    <div class="mt-4 text-center">
      <span class="text-sm tracking-wide text-amber-900 dark:text-amber-600">Copyright © Yangs Cloud 2024 - Present. All Rights Reserved</span>
    </div>
  </div>
</footer>
